db/webhooks.json
[{"type":"tab","id":"cbc36ac8.343c98","label":"Payment"},{"type":"tab","id":"78a1135d.875eec","label":"Safeguards"},{"type":"tab","id":"ca466b72.35b998","label":"Livezetten"},{"id":"b4f21944.4b0de8","type":"http in","z":"cbc36ac8.343c98","name":"POST /event/payment/error","url":"/event/payment/error","method":"post","swaggerDoc":"","x":171.25,"y":270.9999942779541,"wires":[["75edeb57.8a1214"]]},{"id":"6b0868d2.94f798","type":"function","z":"cbc36ac8.343c98","name":"notify slack","func":"\nreturn msg;","outputs":1,"noerr":0,"x":745.2500076293945,"y":270.75,"wires":[[]]},{"id":"38894f5b.c776b","type":"function","z":"cbc36ac8.343c98","name":"email maintainer(s)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":765.25,"y":310.75,"wires":[[]]},{"id":"de50f774.21af08","type":"function","z":"cbc36ac8.343c98","name":"email helpdesk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":755.25,"y":350.75,"wires":[[]]},{"id":"75edeb57.8a1214","type":"function","z":"cbc36ac8.343c98","name":"create incident in database","func":"\nreturn msg;","outputs":1,"noerr":0,"x":471.25000762939453,"y":271.00000190734863,"wires":[["6b0868d2.94f798","38894f5b.c776b","de50f774.21af08"]]},{"id":"f4c65474.0b39a8","type":"inject","z":"78a1135d.875eec","name":"every 10 mins","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":71,"wires":[["7243ee80.8dbc1","f79d16e5.0862e8"]]},{"id":"7243ee80.8dbc1","type":"http request","z":"78a1135d.875eec","name":"GET myapp.com","method":"GET","ret":"txt","url":"","x":338,"y":71,"wires":[["ae210223.51df"]]},{"id":"ae210223.51df","type":"function","z":"78a1135d.875eec","name":"if responsetime exceeds 500 ms","func":"\nreturn msg;","outputs":1,"noerr":0,"x":621.5000152587891,"y":72.25000190734863,"wires":[["835d3522.7ca2c8","2415f7dc.dbea08"]]},{"id":"f79d16e5.0862e8","type":"http request","z":"78a1135d.875eec","name":"GET myapi.com/v1","method":"GET","ret":"txt","url":"","x":340,"y":133,"wires":[["ae210223.51df"]]},{"id":"835d3522.7ca2c8","type":"function","z":"78a1135d.875eec","name":"sendgrid email maintainer(s)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":937.0000228881836,"y":71.00000381469727,"wires":[[]]},{"id":"2415f7dc.dbea08","type":"function","z":"78a1135d.875eec","name":"create incident","func":"\nreturn msg;","outputs":1,"noerr":0,"x":894.5000228881836,"y":113.50000381469727,"wires":[[]]},{"id":"632a8734.9cd578","type":"inject","z":"78a1135d.875eec","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":218,"wires":[["21f94025.de06c"]]},{"id":"21f94025.de06c","type":"function","z":"78a1135d.875eec","name":"lib functions","func":"var lib = context.global.lib\nconsole.dir(lib.api)\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":213,"wires":[[]]},{"id":"176c55f1.e893aa","type":"http in","z":"ca466b72.35b998","name":"POST /deploy/fail/myapi","url":"","method":"get","swaggerDoc":"","x":161,"y":75,"wires":[["e983343f.167cc8"]]},{"id":"d00e0c75.2ff1f","type":"http in","z":"ca466b72.35b998","name":"POST /github/myrepo","url":"","method":"post","swaggerDoc":"","x":151,"y":138.7499942779541,"wires":[["40751c78.bf8ae4"]]},{"id":"40751c78.bf8ae4","type":"function","z":"ca466b72.35b998","name":"if commit master branch","func":"\nreturn msg;","outputs":1,"noerr":0,"x":461.00000762939453,"y":138.75000190734863,"wires":[["e983343f.167cc8"]]},{"id":"e983343f.167cc8","type":"function","z":"ca466b72.35b998","name":"notify slack","func":"\nreturn msg;","outputs":1,"noerr":0,"x":656.0000076293945,"y":73.75,"wires":[[]]}]