db/webhooks.json
[{"type":"tab","id":"cbc36ac8.343c98","label":"Flow 1"},{"id":"2d8d86d8.d2727a","type":"inject","z":"cbc36ac8.343c98","name":"every 10 mins","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":158,"y":95,"wires":[["f8c3c09a.073c4","8740c97b.78bf38"]]},{"id":"f8c3c09a.073c4","type":"http request","z":"cbc36ac8.343c98","name":"GET myapp.com","method":"GET","ret":"txt","url":"","x":386,"y":95,"wires":[["6dd8db66.922724"]]},{"id":"6dd8db66.922724","type":"function","z":"cbc36ac8.343c98","name":"if responsetime exceeds 500 ms","func":"\nreturn msg;","outputs":1,"noerr":0,"x":669.5000152587891,"y":96.25000190734863,"wires":[["bbb84f36.4447b","1e454ece.e1bab1"]]},{"id":"8740c97b.78bf38","type":"http request","z":"cbc36ac8.343c98","name":"GET myapi.com/v1","method":"GET","ret":"txt","url":"","x":388,"y":157,"wires":[["6dd8db66.922724"]]},{"id":"bbb84f36.4447b","type":"function","z":"cbc36ac8.343c98","name":"sendgrid email maintainer(s)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":985.0000228881836,"y":95.00000381469727,"wires":[[]]},{"id":"1e454ece.e1bab1","type":"function","z":"cbc36ac8.343c98","name":"create incident","func":"\nreturn msg;","outputs":1,"noerr":0,"x":942.5000228881836,"y":137.50000381469727,"wires":[[]]},{"id":"134b5f2d.ecb4a1","type":"http in","z":"cbc36ac8.343c98","name":"POST /deploy/fail/myapi","url":"","method":"get","swaggerDoc":"","x":205,"y":380.0000057220459,"wires":[["8db67833.724988"]]},{"id":"d48e85e9.2b7178","type":"http in","z":"cbc36ac8.343c98","name":"POST /github/myrepo","url":"","method":"post","swaggerDoc":"","x":195,"y":443.75,"wires":[["2e523241.d1adce"]]},{"id":"2e523241.d1adce","type":"function","z":"cbc36ac8.343c98","name":"if commit master branch","func":"\nreturn msg;","outputs":1,"noerr":0,"x":505.00000762939453,"y":443.75000762939453,"wires":[["8db67833.724988"]]},{"id":"8db67833.724988","type":"function","z":"cbc36ac8.343c98","name":"notify slack","func":"\nreturn msg;","outputs":1,"noerr":0,"x":700.0000076293945,"y":378.7500057220459,"wires":[[]]},{"id":"b4f21944.4b0de8","type":"http in","z":"cbc36ac8.343c98","name":"POST /event/payment/error","url":"/event/payment/error","method":"post","swaggerDoc":"","x":216.25,"y":540,"wires":[["75edeb57.8a1214"]]},{"id":"6b0868d2.94f798","type":"function","z":"cbc36ac8.343c98","name":"notify slack","func":"\nreturn msg;","outputs":1,"noerr":0,"x":701.2500076293945,"y":538.75,"wires":[[]]},{"id":"38894f5b.c776b","type":"function","z":"cbc36ac8.343c98","name":"email maintainer(s)","func":"\nreturn msg;","outputs":1,"noerr":0,"x":721.25,"y":578.75,"wires":[[]]},{"id":"de50f774.21af08","type":"function","z":"cbc36ac8.343c98","name":"email helpdesk","func":"\nreturn msg;","outputs":1,"noerr":0,"x":711.25,"y":618.75,"wires":[[]]},{"id":"75edeb57.8a1214","type":"function","z":"cbc36ac8.343c98","name":"create incident","func":"\nreturn msg;","outputs":1,"noerr":0,"x":476.25000762939453,"y":540.0000076293945,"wires":[["6b0868d2.94f798","38894f5b.c776b","de50f774.21af08"]]},{"id":"a41c5207.5be3b","type":"inject","z":"cbc36ac8.343c98","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":143,"y":242,"wires":[["6b0ea5db.94f15c"]]},{"id":"6b0ea5db.94f15c","type":"function","z":"cbc36ac8.343c98","name":"lib functions","func":"var lib = context.global.lib\nlib.foo()\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":237,"wires":[[]]}]